In [ ]:
# JNU dataset source : http://sanskrit.jnu.ac.in/corpora/tagset.jsp

# Dataset curated by Dr. Geetanjali Srivastava : https://www.linkedin.com/in/dr-geetanjali-srivastava-phd/

In [11]:
import pandas as pd
import numpy as np

import warnings
warnings.filterwarnings("ignore")

In [2]:
df_X=pd.read_csv("JNU_dataset_sentences.csv",header=None)
df_Y=pd.read_csv("JNU_dataset_labelupos.csv",header=None)

In [3]:
df_X = df_X.replace(np.nan, '', regex=True)
df_Y = df_Y.replace(np.nan, '', regex=True)

In [4]:
df_X

,0,1,2,3,4,5,6,7,8,9,...,28,29,30,31,32,33,34,35,36,37
0,,0,2,4,6,8,10,12,14,16,...,54,56,58,60,62,64,66,68,70,72
1,0.0,गङ्गा,,,,,,,,,...,,,,,,,,,,
2,1.0,गङ्गा,पर्वतराजहिमालयात्,प्रभवति,।,,,,,,...,,,,,,,,,,
3,2.0,एषा,सर्वासु,नदीषु,श्रेष्ठा,पवित्रतमा,च,अस्ति,।,,...,,,,,,,,,,
4,3.0,गङ्गायाः,उद्भवविषये,एका,कथा,अस्ति,।,,,,...,,,,,,,,,,
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1455,1454.0,एतेन,हेतुना,निदाघः,वर्धते,।,,,,,...,,,,,,,,,,
1456,1455.0,एकस्मिन्,समये,अतिवृष्टिः,तया,जलाप्लावः,तेन,च,महती,हानिः,...,,,,,,,,,,
1457,1456.0,अपरस्मिन्,समये,अनावृष्टिः,तया,च,दुर्भिक्षं,आपद्यते,।,,...,,,,,,,,,,
1458,1457.0,समासतः,एतत्,कथयितुं,शक्यते,यत्,पर्यावरणस्य,एतावती,हानिः,कृता,...,,,,,,,,,,
1459,1458.0,नूतनाः,रोगाः,आक्रमिष्यन्ति,तैः,च,मानवानां,अस्तित्वम्,एव,संकटापन्नं,...,,,,,,,,,,

In [5]:
df_X.drop(0,axis=0,inplace=True)
df_X.drop(0,axis=1,inplace=True)
df_Y.drop(0,axis=0,inplace=True)
df_Y.drop(0,axis=1,inplace=True)

In [6]:
X=df_X.loc[:, :].values.tolist()
Y=df_Y.loc[:,:].values.tolist()

In [7]:
print('sample X: ', X[0], '\n')
print('sample Y: ', Y[0], '\n')

sample X:  ['गङ्गा', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '']

sample Y:  ['NOUN', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '']

In [8]:
# Number of unique words in the corpus
num_words = len(set([word.lower() for sentence in X for word in sentence]))

# Number of UPOS tags in the corpus
num_tags   = len(set([word.lower() for sentence in Y for word in sentence]))

In [9]:
print("Total number of tagged sentences: {}".format(len(X)))
print("Vocabulary size: {}".format(num_words))
print("Total number of tags: {}".format(num_tags))

Total number of tagged sentences: 1459
Vocabulary size: 4292
Total number of tags: 17